@charset "utf-8";
/* CSS Document */
@font-face {
    font-family:'Rubik-Regular';
    src:url('../fonts/Rubik-Regular.ttf');
}
body {
  margin: 0;
}
p
{
	font-family: sans-serif;
	}
h1
{
	text-align:center;
	margin-bottom: 30px;
	text-transform:uppercase;
	}
h1::after
{
	content: '';
    position: relative;
    display: block;
    height:2px;
    width:75px;
    margin-top:10px !important;
    background: #2e3080;
    will-change: transform, opacity;
	margin:0 auto;
	}
.padding-left-0
{
	padding-left:0;
	}			
.top-container {
	background-color:#484848;
	padding:15px;
	color:#fff;
}
.top-container a {
  color:#fff;
}
.top-container ul {
	list-style:none;
	padding:0;
	margin:0;
}
.top-container ul li {
	float:left;
	padding: 8px 10px 0 0;
}
.top-container ul li span {
	font-size:16px;
}
.top-container a:hover
{
	color:#dfdfdf;
	text-decoration:none;
	}
.top-container .top-left-container .fa
{
	color: #ffffff;
    font-size: 14px;
	}
.header {
  background:#fff;
  color: #000;
  box-shadow:0 2px 12px rgba(136, 136, 136, 0.1);
  font-family:'Rubik-Regular';
  z-index:100;
}
.header .navbar
{
	margin-bottom:0;
	}
.content {
  padding:0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
.top-container h1
{
	margin:0;
	padding:0;
	}
.logo 
{
	height:auto;
	}	
.logo img
{
	width:100%;
	}
.header .navbar-nav
{
	padding-top:20px;
	}
.header .navbar-nav li a
{
	color:#2d307f;
	}
.header .nav > li > a:hover, .header .nav > li > a:focus {
    border-bottom: 2px solid #2d307f;
	background-color:transparent;
}
.service-sec
{
	padding:15px;
	}
.service-sec a, .service-sec h4 {
    color: #2b317b;
    font-size: 20px;
}
.service-sec a.read-more
{
	font-size:12px;
	}
.banner-btm-sec
{
	padding:5px;
    position: relative;
    transition: background-color 1s;
}

.banner-btm-sec:before {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: inherit;
	content: ' ';
	background-color:#2d2f81;
}
.banner-btm-sec h3
{
	color:#fff;
	position: relative;
	}
.search-bar {
    padding-left:30px;
}
.search-bar input {
    width: 64%;
    border: 2px solid #4e5294;
    color: #222;
    height: 40px;
    padding: 10px;
}
.header .nav > li > a {
}
.search-bar .searchsubmit {
    border: 2px solid #2d317e;
    background-color: #2d3080;
    padding: 8px 30px;
    margin-left: -6px;
    color: #ffffff;
}
.no-padding-rgt
{
	padding-right:0;
	}
.right-bar-sec h3
{
	color:#2d307f;
	margin:10px 0;
	}
.right-bar-sec img
{
	}	
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #2d3080;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 22px;
  margin-left: 50px;
}
.product-btn {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    margin-right: 18px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav ul
{
	padding-left:0;
	}		
/*....button section....*/
.read-btn {
    border-radius: 0;
    background-color: #ffffff;
    border: 2px solid #2d307f;
    color: #2d307f;
    text-align: center;
    font-size: 24px;
    padding: 6px;
    
    transition: all 0.5s;
    cursor: pointer;
    float: right;
	margin-top:3px;
}
.read-btn:hover {
    color: #2d307f;
}

.read-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.read-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.read-btn:hover span {
  padding-right: 25px;
}

.read-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.about-sec {
    background: #fff;
    border-top: 5px solid #2d307f;
	border-bottom: 5px solid #2d307f;
	margin-top:15px;
}
.about-innr-sec
{
    padding: 20px;
	margin:15px;
	}
.about-innr-sec ul
{
    padding-left:0;
	}
.about-innr-sec ul li {
    list-style: none;
    display: inline-block;
    width: 19%;
    text-align: center;
}
.about-award-img img
{  
	width: auto;
    display: inline-block;
    float: left;
    height: 80px;
    padding: 5px;
    margin-right: 15px;
    background: #74d7e4;
	}
/*....projects section......*/
.our-projects
{
	padding:15px 0;
	}
.our-projects img {
    max-width: 100%;
    max-height: 143px;
    width: 100%;
    overflow: hidden;
}
.project-innr-sec {
    padding-bottom: 30px;
}
ul.nav.navbar-nav.navbar-right {
    background: #2d3080;
    padding: 25px;
}		
footer
{
	background:#2d307f;
	padding-bottom:10px;
	}
footer p, footer p a
{
	color:#fff;
	padding-top:10px;
	}
footer p:hover, footer p a:hover
{
	color:#dfdfdf;
	text-decoration:none;
	}			
.sub-menu li a
{
	color:#fff;
	font-size:14px;
	}
.sidenav ul.sub-menu li {
    padding-left: 25px;
    margin-bottom: 2px;
    background: #7d7ea8;
}
* {
    box-sizing: border-box;
}


.navbar {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.page-content
{
	padding:20px 0;
	}
.page-content h2
{
	color: #2b317b;
    font-size: 20px;
	}
#breadcrumb a
{
	color:#333;
	}
#breadcrumb .bread-para
{
	color:#2b317b;
	font-weight:bold;
	}
.cus-color
{
	color: #2b317b;
    font-size: 20px;
	}
.cus-form
{
	border: 1px solid #2d307f;
	padding:30px 15px;
	padding-right:30px;
}
.cus-form .form-control, .cus-form select {
    width: 100%;
    height: 42px;
    border-radius: 0;
}
.cus-form textarea {
    width: 100%;
    height: auto;
    border-radius: 0;
}
.cus-form .btn-primary {
    color: #fff;
    background-color: #2d3080;
    border-color: #2e6da4;
    float: right;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 0;
}
.cus-form p {
   float: right;
    font-weight: bold;
    color: #2d307f;
}
.navbar-toggle {
    background-color: #2d3080;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.about-innr-sec img
{
	width:100%;
	padding:15px;
	}
.carousel-inner {
    max-height: 500px;
}					
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}	
@media screen and (max-width:1199px) {
ul.nav.navbar-nav.navbar-right {
    background: #2d3080;
    padding: 8px;
	margin-top: 12px;
}
.product-btn {
    font-size: 16px;
}
.search-bar input {
    width: 60%;
}
.search-bar {
    padding-left: 0;
}
.top-container ul li {
    padding: 9px 4px;
}
}
@media only screen and (width:1024px) {
.search-bar input {
width: 72% !important;
}
}
 @media only screen and (min-width: 768px) and (max-width:1024px ) {
.search-bar input {
    width: 60%;
}
.search-bar {
    width: 100%;
}
.top-container ul {
    float: left !important;
}
.right-bar-sec {
    text-align: center;
}
.about-innr-sec img
{
	width:100%;
	}
}

@media screen and (max-width:767px) {
.navbar a {
    padding: 15px;
}
.search-bar input {
    width: 60%;
}
.top-container {
    padding: 10px 0;
}
.top-container a {
    font-size: 20px;
}
.dropdown, .navbar a {
    float: none;
	text-align:left;
}
.search-bar {
    padding-left: 0;
}
.about-innr-sec ul li {
    list-style: none;
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px;
}
.right-bar-sec {
    text-align: center;
}
.banner-btm-sec h3 {
    color: #fff;
    position: relative;
    font-size: 20px;
	margin-top:10px;
}
}
@media screen and (max-width:320px) {
.top-container ul li {
   padding: 2px;
}
.top-container a {
    font-size: 11px;
}
.top-container .top-left-container .fa {
    font-size: 11px;
}
.top-container .col-md-5
{
	padding:0;
}
.search-bar input {
    width: 64%;
}
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	




















































































































































































				